version: '3'

volumes:
    data:

services:

    mysql:
     container_name: babylog_mysql
     image: mysql:5.5
     environment:
        - MYSQL_DATABASE=babylog
        - MYSQL_PASSWORD=abmk74aa
        - MYSQL_ROOT_PASSWORD=abmk74aa
     volumes :
        - ./docker/sql:/docker-entrypoint-initdb.d
        - data:/var/lib/mysql
     networks:
        - babylog



    phpmyadmin:
     container_name: babylog_phpmyadmin
     image: phpmyadmin/phpmyadmin
     restart: always
     ports:
        - 8080:80
     networks:
        - babylog
     depends_on:
        - mysql
     environment:
        - PMA_HOST=mysql


    redis:
     container_name: babylog_redis
     image: redis
     ports:
        - 6379:6379
     networks:
        - babylog
     networks:
        - babylog


    nginx:
     container_name: babylog_nginx
     image: nginx:latest
     ports:
        - "80:80"
     networks:
        - babylog
     volumes:
        - ./:/var/www/laravel
        - ./docker/build/nginx/vhost.conf:/etc/nginx/conf.d/laravel.conf
     working_dir:
        /var/www/laravel


    fpm:
     container_name: babylog_fpm
     build: ./docker/build/php-fpm
     ports:
        - "9000:9000"
     networks:
        - babylog
     volumes:
        - ./:/var/www/laravel
     working_dir:
        /var/www/laravel


networks:
  babylog:
    driver: bridge



